[submodule "modules/maple-token"]
	path = modules/maple-token
	url = https://github.com/maple-labs/maple-token.git
[submodule "modules/chainlink-oracle/v1"]
	path = modules/chainlink-oracle/v1
	url = https://github.com/maple-labs/chainlink-oracle.git
[submodule "modules/collateral-locker/v1"]
	path = modules/collateral-locker/v1
	url = https://github.com/maple-labs/collateral-locker.git
[submodule "modules/debt-locker/v1"]
	path = modules/debt-locker/v1
	url = https://github.com/maple-labs/debt-locker.git
[submodule "modules/debt-locker/v2"]
	path = modules/debt-locker/v2
	url = https://github.com/maple-labs/debt-locker.git
[submodule "modules/funding-locker/v1"]
	path = modules/funding-locker/v1
	url = https://github.com/maple-labs/funding-locker.git
[submodule "modules/globals/v1"]
	path = modules/globals/v1
	url = https://github.com/maple-labs/globals.git
[submodule "modules/late-fee-calculator/v1"]
	path = modules/late-fee-calculator/v1
	url = https://github.com/maple-labs/late-fee-calculator.git
[submodule "modules/liquidity-locker/v1"]
	path = modules/liquidity-locker/v1
	url = https://github.com/maple-labs/liquidity-locker.git
[submodule "modules/loan/v1"]
	path = modules/loan/v1
	url = https://github.com/maple-labs/loan.git
[submodule "modules/loan/v2"]
	path = modules/loan/v2
	url = https://github.com/maple-labs/loan.git
[submodule "modules/mpl-rewards/v1"]
	path = modules/mpl-rewards/v1
	url = https://github.com/maple-labs/mpl-rewards.git
[submodule "modules/pool/v1"]
	path = modules/pool/v1
	url = https://github.com/maple-labs/pool.git
[submodule "modules/premium-calculator/v1"]
	path = modules/premium-calculator/v1
	url = https://github.com/maple-labs/premium-calculator.git
[submodule "modules/repayment-calculator/v1"]
	path = modules/repayment-calculator/v1
	url = https://github.com/maple-labs/repayment-calculator.git
[submodule "modules/stake-locker/v1"]
	path = modules/stake-locker/v1
	url = https://github.com/maple-labs/stake-locker.git
[submodule "modules/treasury/v1"]
	path = modules/treasury/v1
	url = https://github.com/maple-labs/treasury.git
[submodule "modules/usd-oracle/v1"]
	path = modules/usd-oracle/v1
	url = https://github.com/maple-labs/usd-oracle.git
[submodule "modules/util/v1"]
	path = modules/util/v1
	url = https://github.com/maple-labs/util.git
