[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/maple-labs/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "cache/dapp-cache"]
	path = cache/dapp-cache
	url = git@github.com:maple-labs/maple-cache
[submodule "module/maple-token"]
	path = module/maple-token
	url = git@github.com:maple-labs/maple-token.git
