{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 500,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "preserve"
      }
    }
  ]
}
