version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@1

aliases:
  - &defaults
    docker:
      - image: circleci/node:14

jobs:
  dapp_build:
    docker:
      - image: bakii0499/dapptools:0.46.0
    steps:
      - run:
          name: Checkout maple-core
          command: |
            GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" git clone git@github.com:maple-labs/maple-core.git .
            git checkout $CIRCLE_BRANCH
      - run:
          name: Build contracts
          command: |
            GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" git submodule update --init --recursive
            ./build.sh
      - persist_to_workspace:
          root: ~/project
          paths:
            - "./*"

  dapp_test:
    docker:
      - image: bakii0499/dapptools:0.46.0
    parallelism: 24
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/project
      - run:
          name: Run unit tests
          command: |
            cd ~/project
            TEST=$(circleci tests glob contracts/*/*/v1/test/*.t.sol | circleci tests split --split-by=name)
            export ETH_RPC_URL=$ETH_RPC_URL_ALCHEMY 
            ./test.sh -t $TEST -r 1 -b 0
          no_output_timeout: 60m

workflows:
  version: 2
  test_all:
    jobs:
      - dapp_build:
          context: seth
      - dapp_test:
          context: seth
          requires:
            - dapp_build
